################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/PcScTool/bin/Release
/.vs/PcScTool/v14/.suo
/PcScTool/obj/Release
/PcScTool/PcScTool.csproj.user
